# Load data

In [3]:
import pandas as pd

X1 = pd.read_csv("X1.csv") # [7684 rows x 15 columns]
Y1 = pd.read_csv("Y1.csv",sep='\t',names=["Label"]) # [7684 rows x 1 columns]
X2 = pd.read_csv("X2.csv") # [3787 rows x 15 columns]

# Visualize data

In [86]:
import matplotlib.pyplot as plt

def visualize(X, Y):
    n_sample, n_feature = X.shape
    feature_names = X.keys()
    
    for k in feature_names :
        plt.scatter(X[k], Y)
        plt.title(k)
        plt.show()
    #plt.savefig('essai.pdf')

# Decomment to visualize
# visualize(X1, Y1)

### Remarques : 
données cycliques : month, day, hour, wd (wind direction) 

NO2, CO : +/- linéaire

station : pas de lien dans les numéros de station ?

# Data treatments

### Handle cyclic values

In [106]:
def handlecyclic(data_frame):
    df = data_frame.copy()
    # handle hour values
    df['hr_sin'] = np.sin(df['hour']*(2.*np.pi/24))
    df['hr_cos'] = np.cos(df['hour']*(2.*np.pi/24))
    # handle month values
    df['mnth_sin'] = np.sin((df['month']-1)*(2.*np.pi/12))
    df['mnth_cos'] = np.cos((df['month']-1)*(2.*np.pi/12))
    # handle day values
    df['day_sin'] = np.sin((df['day'] - 1) * (2. * np.pi / 12))
    df['day_cos'] = np.cos((df['day'] - 1) * (2. * np.pi / 12))
    # handle wind direction
    df = df.replace({'N': 0,'NNE':1,'NE':2,'ENE':3,'E':4,'ESE':5,'SE':6,'SSE':7,'S':8,'SSW':9,'SW':10,'WSW':11,'W':12,'WNW':13,'NW':14,'NNW':15})
    df['wd_sin'] = np.sin((df['wd']) * (2. * np.pi / 16))
    df['wd_cos'] = np.cos((df['wd']) * (2. * np.pi / 16))
    df = df.drop(['wd'], axis=1)
    return df

def handle_station(df):
    return pd.concat([df.drop(['station'], axis=1), pd.get_dummies(df['station']).add_prefix('station_')], axis=1)

X1_handled = handlecyclic(X1)
X1_handled = handle_station(X1_handled)
print(X1_handled.shape)

(7684, 33)

### Add linear time

In [107]:
def add_linear_time(data_frame):
    df2 = pd.DataFrame()
    df2['time'] = ((data_frame['year']+data_frame['month']/12)*100+data_frame['day']/31)*100+data_frame['hour']/24
    #df2['time'] = data_frame['year']*1000000+(data_frame['month']/12)*1000+(data_frame['day']/31)*10+(data_frame['hour']/24)
    return pd.concat([data_frame, df2], axis=1)

X1_handled = add_linear_time(X1_handled)

print(X1_handled.shape)

# Decomment to visualize
# visualize(X1_handled, Y1)

(7684, 34)

# Normalisation or standardisation

### Normalization

In [229]:
from sklearn.preprocessing import MinMaxScaler
# use of https://mrmint.fr/data-preprocessing-feature-scaling-python
'''Min-Max Scaling peut- être appliqué quand les données varient dans des échelles différentes. 
A l’issue de cette transformation, les features seront comprises dans un intervalle fixe [0,1]'''

minmax_scale = MinMaxScaler().fit(X1_train)
X1_norm = minmax_scale.transform(X1_train)

print(X1_norm[:,0].mean(), X1_norm[:,1].mean())
print(X1_norm[:,0].min(), X1_norm[:,0].max())
print(X1_norm[:,12].min(), X1_norm[:,12].max())

0.3686624519647538 0.5227188207850164
0.0 1.0
0.0 0.9999999999999999

### Standardisation

In [230]:
# use of https://mrmint.fr/data-preprocessing-feature-scaling-python

from sklearn.preprocessing import StandardScaler 
'''La standardisation (aussi appelée Z-Score normalisation peut- être appliquée quand les input features répondent
à des distributions normales (Distributions Gaussiennes) avec des moyennes et des écart-types différents. 
Par conséquent, cette transformation aura pour impact d’avoir toutes nos features répondant à la même 
loi normale X \sim \mathcal{N} (0, \, 1).
La standardisation peut également être appliquée quand les features ont des unités différentes.'''

# Z-score standardisation
std_scaler = StandardScaler().fit(X1_train)
X1_stand = std_scaler.transform(X1_train)

print(X1_stand[:,0].mean(), X1_stand[:,1].mean())
print(X1_stand[:,0].min(), X1_stand[:,0].max())
print(X1_stand[:,12].min(), X1_stand[:,12].max())
print(X1_stand[:,0].std(), X1_stand[:,1].std())

1.2328405310384245e-13 -8.455696372005655e-17
-1.375376330602746 2.3553435278281034
-1.3668766186872858 5.999485203474348
0.9999999999999999 1.0

# Data splitting

In [ ]:
# 70% training
# 30% test

n = len(X1_handled['CO'])
m = 70*n//100 # 5378
X1_train = X1_handled.values[0:m,:]
X1_valid = X1_handled.values[m:n,:]

Y1_train = Y1.values[0:m,:]
Y1_valid = Y1.values[m:n,:]

# Feature selection

### Show correlation

In [232]:
# print des n features avec les plus grandes correlations
def print_correlation(X, Y, n):
    print("Correlation : ")
    corrcoef = np.corrcoef(X, Y, rowvar=False)[-1, :33]
    #print(np.around(corrcoef, decimals=3))
    most_corr = np.argsort(np.abs(corrcoef))
    feature_names = X1_handled.keys()
    for ind in most_corr[len(most_corr)-n: len(most_corr)]: # print des 10 meilleurs
        print("correlation = ", corrcoef[ind], '\t \t', ind, feature_names[ind])

print_correlation(X1_stand, Y1_train, 10)

Correlation :
correlation =  -0.0750513044401106 	 	 20 wd_cos
correlation =  0.10249174746825244 	 	 10 DEWP
correlation =  0.13142439144516793 	 	 19 wd_sin
correlation =  -0.16143772698991263 	 	 8 TEMP
correlation =  -0.1725773769709249 	 	 7 O3
correlation =  0.1885449761039995 	 	 16 mnth_cos
correlation =  -0.2645385498919343 	 	 12 WSPM
correlation =  0.4803320243340484 	 	 4 SO2
correlation =  0.6461805946323071 	 	 5 NO2
correlation =  0.7626706385557319 	 	 6 CO

### Show mutual information

In [238]:
import sklearn.feature_selection as fs

# print des n features avec les plus grandes mutual information
def print_mutual_information(X,Y, n):
    print("Mutual Information : ")
    mi = fs.mutual_info_regression(X, Y)
    #print(np.around(fs.mutual_info_regression(X, Y[:, 0]), 3))
    most_mi =  np.argsort(np.abs(mi))
    feature_names = X1_handled.keys()
    for ind in most_mi[len(most_mi)-n: len(most_mi)]:
        print( "mutual_information = ", mi[ind], '\t \t', ind, feature_names[ind])
    return most_mi

most_mi = print_mutual_information(X1_stand, Y1_train.ravel(), 10)
print(most_mi)

Mutual Information :
mutual_information =  0.057715945019204185 	 	 1 month
mutual_information =  0.0600578106043832 	 	 8 TEMP
mutual_information =  0.061542181093055426 	 	 9 PRES
mutual_information =  0.07256593612400408 	 	 12 WSPM
mutual_information =  0.13174303151254207 	 	 7 O3
mutual_information =  0.13345731943812833 	 	 10 DEWP
mutual_information =  0.14531592961513518 	 	 33 time
mutual_information =  0.17910087673240138 	 	 4 SO2
mutual_information =  0.3226822002579972 	 	 5 NO2
mutual_information =  0.6310117340972039 	 	 6 CO
[11 32 28 29 30 22  0 27 23 31 21 19 17 24 26 13 25 18 14 15  3 20  2 16
  1  8  9 12  7 10 33  4  5  6]

### Select features

In [235]:
from sklearn.feature_selection import SelectKBest
from sklearn.tree import DecisionTreeRegressor
from sklearn import feature_selection

def features_selection(scaled_df, target, nb_of_features):
    # Select with mutual information
    selector = SelectKBest(feature_selection.mutual_info_regression, k=nb_of_features)
    selector.fit_transform(scaled_df, target)
    # Get columns to keep
    cols1 = scaled_df.columns[selector.get_support(indices=True)]

    # Select with F-value between label/feature for regression tasks
    selector = SelectKBest(feature_selection.f_regression, k=nb_of_features)
    selector.fit_transform(scaled_df, target)
    # Get columns to keep
    cols2 = scaled_df.columns[selector.get_support(indices=True)]

    # Select variables with tree
    clf = DecisionTreeRegressor(max_depth=5)
    clf = clf.fit(scaled_df, target)
    # Get the most important feature
    importances = clf.feature_importances_

    cols3 = list(scaled_df.columns[np.flip(np.argsort(importances)[-nb_of_features:])])

    features = list(set(list(cols1)) | set(list(cols2)) | set(list(cols3)))
    # Create new dataframe with only desired columns, or overwrite existing
    a_scaled = scaled_df[features]

    return a_scaled

#df = features_selection(X1_stand, Y1.values.ravel(), 10)
#print(df)

#print(X1_stand)

In [239]:
n = 7
index_selectec = most_mi[len(most_mi)-n: len(most_mi)]

In [11]:
for k in X1.keys():
    print(k)

year
month
day
hour
SO2
NO2
CO
O3
TEMP
PRES
DEWP
RAIN
wd
WSPM
station

In [13]:
print(X1['year'])

0       2013
1       2013
2       2013
3       2013
4       2013
        ...
7679    2017
7680    2017
7681    2017
7682    2017
7683    2017
Name: year, Length: 7684, dtype: int64

In [48]:
import numpy as np
X = pd.concat([X1.drop(['station'], axis=1), pd.get_dummies(X1['station']).add_prefix('station_')], axis=1)


y = [0, 1, 0, 1]
index = [ind for ind,value in enumerate(y) if value==1]
print(index)

[1, 3]

In [50]:
print(X1['station'])

pd.get_dummies(X1['station']).add_prefix('station_')

0        3
1        9
2        6
3        5
4        9
        ..
7679    11
7680     3
7681     4
7682     4
7683     8
Name: station, Length: 7684, dtype: int64

,station_0,station_1,station_2,station_3,station_4,station_5,station_6,station_7,station_8,station_9,station_10,station_11
0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
7679,0,0,0,0,0,0,0,0,0,0,0,1
7680,0,0,0,1,0,0,0,0,0,0,0,0
7681,0,0,0,0,1,0,0,0,0,0,0,0
7682,0,0,0,0,1,0,0,0,0,0,0,0
7683,0,0,0,0,0,0,0,0,1,0,0,0

In [81]:


time = ((X1['year']+X1['month']/12)*100+X1['day']/31)*100+X1['hour']/24
  

print(time)
print(time[0])

0       2.013250e+07
1       2.013250e+07
2       2.013251e+07
3       2.013251e+07
4       2.013251e+07
            ...
7679    2.017176e+07
7680    2.017176e+07
7681    2.017176e+07
7682    2.017176e+07
7683    2.017176e+07
Length: 7684, dtype: float64
20132503.559139784

In [69]:
df = pd.DataFrame()
df['time'] = [1,2,3]
print(df)
df2 = pd.DataFrame()
df2['time'] = [1,2,3]
print(df2)

pd.concat([df, df2], axis=1)

   time
0     1
1     2
2     3
   time
0     1
1     2
2     3

   time  time
0     1     1
1     2     2
2     3     3

In [108]:
X = [[ 1., -1.,  2.],
     [ 2.,  0.,  0.],
     [ 0.,  1., -1.]]
X_normalized = preprocessing.normalize(X, norm='l2')
print(X_normalized)

X_normalized2 = preprocessing.normalize(X, norm='l1')
print(X_normalized2)

print(X1_handled.)

[[ 0.40824829 -0.40824829  0.81649658]
 [ 1.          0.          0.        ]
 [ 0.          0.70710678 -0.70710678]]
[[ 0.25 -0.25  0.5 ]
 [ 1.    0.    0.  ]
 [ 0.    0.5  -0.5 ]]
      year  month  day  hour   SO2   NO2      CO    O3  TEMP    PRES  ...  \
0     2013      3    1     8  12.0  41.0   500.0  54.0  -0.3  1030.4  ...
1     2013      3    1     9  11.0  22.0   500.0  65.0   0.4  1030.5  ...
2     2013      3    2     7  11.0  18.0   500.0  45.0  -4.0  1026.6  ...
3     2013      3    2    11  27.0  45.0  1399.0  31.0   2.5  1026.4  ...
4     2013      3    2    14  24.0  35.0   800.0  53.0   3.9  1026.8  ...
...    ...    ...  ...   ...   ...   ...     ...   ...   ...     ...  ...
7679  2017      2   28     9   6.0  45.0   700.0  39.0  10.7  1016.7  ...
7680  2017      2   28    17   3.0  12.0   300.0  93.0  14.2  1012.5  ...
7681  2017      2   28    20   4.0  48.0   500.0  43.0  11.6  1013.6  ...
7682  2017      2   28    21   5.0  39.0   500.0  50.0  10.8  1014.2  ...
7683  2017      2   28    23  13.0  34.0   500.0  60.0   7.4  1014.9  ...

      station_3  station_4  station_5  station_6  station_7  station_8  \
0             1          0          0          0          0          0
1             0          0          0          0          0          0
2             0          0          0          1          0          0
3             0          0          1          0          0          0
4             0          0          0          0          0          0
...         ...        ...        ...        ...        ...        ...
7679          0          0          0          0          0          0
7680          1          0          0          0          0          0
7681          0          1          0          0          0          0
7682          0          1          0          0          0          0
7683          0          0          0          0          0          1

      station_9  station_10  station_11          time
0             0           0           0  2.013250e+07
1             1           0           0  2.013250e+07
2             0           0           0  2.013251e+07
3             0           0           0  2.013251e+07
4             1           0           0  2.013251e+07
...         ...         ...         ...           ...
7679          0           0           1  2.017176e+07
7680          0           0           0  2.017176e+07
7681          0           0           0  2.017176e+07
7682          0           0           0  2.017176e+07
7683          0           0           0  2.017176e+07

[7684 rows x 34 columns]

In [115]:
X1_handled.values.shape

X_scaled = preprocessing.scale(X1_handled.values)
X_scaled.mean(axis=0)

(34,)